<footer class="footer">
    <div class="footer-left">
        <a href="#" class="footer-link">Угода користувача</a>
        <a href="#" class="footer-link">Політика конфіденційності</a>
        <a href="/about" class="footer-link">Про проект</a></span>
    </div>
    <div class="social-media-links">
        <a href="https://t.me/Short_story_about_my_life"><img src="/images/telegram.jpg" alt="telegram"></a>
        <a href="https://www.instagram.com/sltsbm/" ><img src="/images/instagram.jpg" alt="instagram"></a>
    </div>
    <div class="contacts">
        <a href="tel:+380955907329" class="footer-link">+38 095 590-73-29</a>
        <a href="rezevnoehroniliche@gmail.com" class="footer-link">rezevnoehroniliche@gmail.com</a>
    </div>
</footer>