<header class="sticky-header">
    <div class="header-menu">
        <a href="/" class="header-logo"><img src="/images/logo.jpg" alt="image" class="header-logo" ></a>


        {{#if authenticated}}
            <qwe class="header-content">
                <a href="/stocks/getStocks" class="header-content">Склади</a>
             <!--   <ul class="header-submenu">
                    <li><a href="/enter">Внести показання</a></li>
                    <li><a href="/accruals">Історія нарахувань</a></li>
                    <li><a href="/pay">Сплатити послуги</a></li>
                    <li><a href="/payments">Історія платежів</a></li>
                </ul>  -->
            </qwe>
            <a href="/products/getProducts" class="header-content">Товари</a>
            <a href="/personal" class="header-content">Категорії</a>
            <a href="/personal" class="header-content">Менеджер</a>
            <a class="header-content" onclick="logout()">Вийти</a>
        {{else}}
            <a href="/faq" class="header-content">Часті питання</a>
            <a href="/signin" class="header-content">Увійти</a>
        {{/if}}
    </div>
</header>
<script>
    function logout() {
        const cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf("=");
            const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
        location.href = '/';
    }
</script>
