<header class="sticky-header">
    <div class="header-menu">


        {{#if authenticated}}
            <a href="/stock/getStocks" class="header-logo"><img src="/images/logo.jpg" alt="image" class="header-logo" ></a>
            <qwe class="header-content">
                <a href="/stock/getStocks" class="header-content">Склади</a>
<!--                <ul class="header-submenu">-->
<!--                    <li><a href="/enter">Додати склад</a></li>-->
<!--                </ul>-->
            </qwe>
            <a href="/products/getProducts" class="header-content">Товари</a>
            <a href="/personal" class="header-content">Категорії</a>
            <a href="/personal" class="header-content">Менеджер</a>
            <a class="header-content" onclick="logout()">Вийти</a>
        {{else}}
            <a href="/stock/getStocks" class="header-logo"><img src="/images/logo.jpg" alt="image" class="header-logo" ></a>
            <a href="/faq" class="header-content">Часті питання</a>
            <a href="/" class="header-content">Увійти</a>
        {{/if}}
    </div>
</header>
<script>
    function logout() {
        const cookies = document.cookie.split(";");

        deleteCookie('jwt');
        deleteCookie('auth')
        setTimeout(()=>{
            location.href = '/';
        },0)

    }

    function deleteCookie(name) {
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
</script>
