<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>


<span>Ебать!!! Опять диплом за 3 дня, я в ахуе, ребята )))))))</span>
    {{{body}}}

</body>
<html>