<body>

    <form method="post" action="/categories/createCategory">

        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Назва категорії" required pattern="[А-ЯІЇЄ]+[а-яіїє]+ *" name="name">
        </div>
        <div>
            <input type="checkbox" placeholder="додати товари до каткгорії">
        </div>
        <div>
            <input type="submit" class="reg-button" value="OK" id="spec">
        </div>

    </form>

</body>