<body>
{{>header}}
<div class="reg-content" align="center">
    <form method="post" id="form">
        <div>
            <h1 class="form-title" id="greg">Новий склад</h1>
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Назва складу" required name="name" id="spec">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Опис складу" required name="description" id="spec">
        </div>
        <div class="reg-group">
            <input type="text" class="reg-input" placeholder="Адреса склада" required
                   id="spec" name="address">
        </div>
        <br>
        <div>
            <input type="submit" class="reg-button" value="Новий склад" id="spec">
        </div>
    </form>
</div>
</body>

<script>
    $('#form').on('submit', function(e){
        e.preventDefault();

        let form = $(this);
        let data = form.serializeArray();
        console.log(data);
        $.ajax({
            type: 'POST',
            url: '/stock/createStock',
            data: data,
            success: function (){
                location.href= '/stock/getStocks'
            },
            error: function (xhr, ajaxOptions, thrownError){
                alert(xhr.responseJSON.message);
            }
        })

    })
</script>